version: '3'
services:
  filestorage:
    image: minio/minio:RELEASE.2018-10-06T00-15-16Z
    environment:
      MINIO_ACCESS_KEY: AKIAIOSFODNN7EXAMPLE
      MINIO_SECRET_KEY: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      MINIO_REGION: eu-west-1
    ports:
      - 9000:9000
    command: server /data
  sftp:
    image: atmoz/sftp
    ports:
    - "22:22"
    command: foo:pass:::upload
  configure-buckets:
    image: minio/mc:RELEASE.2018-09-26T00-42-43Z
    entrypoint: sh
    depends_on:
      - filestorage
    command: -c "sleep 5 && mc config host add minio http://filestorage:9000 AKIAIOSFODNN7EXAMPLE wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY && mc mb --region=eu-west-1 minio/meltwater-drone-default"
